.bounce {
  display: flex;
}

.dot {
  background-color: #a9a9a9;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin: 3px;
  animation-fill-mode: both;
}

.dot:nth-child(1) {
  animation-name: bounce;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-name: bounce;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-name: bounce;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
}
